SPRING_PROFILES_ACTIVE=dev

DB_URL=jdbc:h2:mem:isajjim
DB_USERNAME=sa
DB_PASSWORD=

FRONTEND_URL=https://isajjim.kro.kr
DEV_SWAGGER_URL=https://api.isajjim.kro.kr

AI_BASE_URL=http://api-ai.isajjim.kro.kr:8000
AI_USE_SERVER=true
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3-flash-preview

JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_TIME=604800000
JWT_REFRESH_TOKEN_EXPIRATION_TIME=604800000
JWT_REFRESH_TOKEN_REISSUE_LIMIT_DAYS=14

APP_ENCRYPTION_KEY=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
AWS_S3_BUCKET=

# [소셜 로그인]
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_ADMIN_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

AUTH_TOKEN=