SPRING_PROFILES_ACTIVE=dev

DB_URL=jdbc:h2:mem:isajjim
DB_USERNAME=sa
DB_PASSWORD=

FRONTEND_URL=https://isajjim.kro.kr
DEV_SWAGGER_URL=https://api.isajjim.kro.kr

AI_BASE_URL=http://api-ai.isajjim.kro.kr:8000
AI_USE_SERVER=true
GOOGLE_PROJECT_ID=
GOOGLE_GCS_BUCKET=
GEMINI_API_KEY=